<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PanelServlet</servlet-name>
        <servlet-class>Controlador.PanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperarServlet</servlet-name>
        <servlet-class>Controlador.recuperarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresarServlet</servlet-name>
        <servlet-class>Controlador.ingresarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelServlet</servlet-name>
        <url-pattern>/PanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperarServlet</servlet-name>
        <url-pattern>/recuperarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresarServlet</servlet-name>
        <url-pattern>/ingresarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
